# screenshot folder
screenshot

# folder with generated tests files
tests

# file with working notes
notes
tempfile
logfile
token_usage*.log
*.log

__pycache__
.venv
.pytest_cache
test*.py

# ignore playwright stuff
playwright.config.ts
package*
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
